:root {
    --primary-color: #e2524a;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --border-top: 3px solid var(--primary-color);
    --star-gold-color: #FFCE3E;
    --header: 120px;
    --header-top: 36px;
    --header-main: calc(var(--header) - var(--header-top));
}

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
}

.btn-black {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-align: center;
    background-color: var(--black-color);
    padding: 12px 24px;
    transition: 0.5s;
    user-select: none;
    -webkit-user-select: none;
    opacity: 0.7;
}

.btn-black:hover {
    background-color: var(--black-color);
    color: var(--white-color);
    opacity: 1;
}

.btn {
    background-color: var(--white-color);
    min-width: 120px;
    min-height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    user-select: none;
    -webkit-user-select: none;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}